<div>
    <form
        *ngIf="formResetToggle"
        (keydown.enter)="$event.preventDefault()"
        class="form-horizontal"
        name="itemcatInfoForm"
        #f="ngForm"
        novalidate
        (ngSubmit)="save()"
    >
        <!-- اسم الصنف بالعربية -->
        <div class="form-group" >
            <label class="control-label col-md-12" for="code-{{uniqueId}}">
                {{ "shared.nameAr" | translate }}
            </label>
            <div *ngIf="!isEditMode" class="col-md-12" >
                <p class="form-control-static"  >{{ branch.name }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr
                    [class.separator-hr]="!isEditMode"
                    [class.edit-separator-hr]="isEditMode"
                />
            </div>
        </div>

        <!-- ااسم الصنف بالانكليزية -->
        <div class="form-group">
            <label class="control-label col-md-12" for="code-{{uniqueId}}">
                {{ "shared.phone" | translate }}
            </label>
            <div *ngIf="!isEditMode" class="col-md-12">
                <p class="form-control-static">{{ branch.phone }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr
                    [class.separator-hr]="!isEditMode"
                    [class.edit-separator-hr]="isEditMode"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" for="code-{{uniqueId}}">
                {{ "shared.isDefault" | translate }}
            </label>
            <div *ngIf="!isEditMode" class="col-md-12">
                <p class="form-control-static">
                    {{ branch.isDefault ? ('shared.yes'|translate) : ('shared.no'|translate) }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr
                    [class.separator-hr]="!isEditMode"
                    [class.edit-separator-hr]="isEditMode"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" for="code-{{uniqueId}}">
                {{ "shared.notes" | translate }}
            </label>
            <div *ngIf="!isEditMode" class="col-md-12">
                <p class="form-control-static">
                    {{branch.notes}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr
                    [class.separator-hr]="!isEditMode"
                    [class.edit-separator-hr]="isEditMode"
                />
            </div>
        </div>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>{{ "shared.itemUnitName" | translate }}</th>
                        <th>{{ "shared.itemName" | translate }}</th>
                        <th>{{ "shared.code" | translate }}</th>
                        <th>{{ "shared.initialQuantity" | translate }}</th>
                        <!--<th>{{ "shared.quantity" | translate }}</th>-->
                        <th>{{ "shared.realQuantity" | translate }}</th>

                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>

                    <tr *ngFor="let i of branch['itemUnitBranches']">
                        <td>{{ i.itemUnitName }}</td>
                        <td>{{ i.itemName }}</td>
                        <td>{{ i.code }}</td>
                        <td class=" show-number">{{ i.initialQuantity }}</td>
                        <!--<td class=" show-number">{{ i.quantity }}</td>-->
                        <td class=" show-number">{{ i.realQuantity }}</td>

                    </tr>

                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button
                        *ngIf="!isEditMode"
                        type="button"
                        (click)="close()"
                        class="btn btn-default"
                    >
                        <i class="fa fa-close"></i>
                        {{ "shared.Close" | translate }}
                    </button>
                    <a
                        [routerLink]="[
                            '/definitions/branch/add-branch',
                            branch['id']
                        ]"
                        *ngIf="!isEditMode"
                        class="btn btn-default"
                    >
                        <i class="fa fa-edit"></i>
                        {{ "shared.Edit" | translate }}
                    </a>
                    <button
                    type="button"
                    (click)="printDocumnent()"
                    class="btn btn-primary"
                >
               {{"shared.print" | translate}}
                </button>
                <button
                *ngIf="isEditMode"
                type="submit"
                class="btn btn-primary"
                [disabled]="isSaving"
            >
                <i *ngIf="!isSaving" class="fa fa-save"></i
                ><i
                    *ngIf="isSaving"
                    class="fa fa-circle-o-notch fa-spin"
                ></i>
                {{
                    isSaving
                        ? ("shared.Saving" | translate)
                        : ("shared.SaveAndPrint" | translate)
                }}
            </button>
                    <button
                        *ngIf="isEditMode"
                        type="button"
                        (click)="cancel()"
                        class="btn btn-danger"
                        [disabled]="isSaving"
                    >
                        <i class="fa fa-times"></i>
                        {{ "shared.Cancel" | translate }}
                    </button>

                    <!-- <button
                    *ngIf="!isEditMode"
                    type="button"
                    (click)="exportAsPDFDocumnent()"
                    class="btn btn-default"
                >
                    <i class="fa fa-pdf"></i>
                    {{ "shared.exportAsPdf" | translate }}
                </button> -->
            
                
                <div *ngIf="!isEditMode" class="btn" (click)="exportAsXLSX()"><img src="../../../../assets/Excel.png" width="35px" height="35px"></div>

                    <button
                        *ngIf="isEditMode"
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="isSaving"
                    >
                        <i *ngIf="!isSaving" class="fa fa-save"></i
                        ><i
                            *ngIf="isSaving"
                            class="fa fa-circle-o-notch fa-spin"
                        ></i>
                        {{
                            isSaving
                                ? ("shared.Saving" | translate)
                                : ("shared.Save" | translate)
                        }}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
