<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-cog fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Settings' | translate}}</h3>
    </header>

    <div [@fadeInOut] class="row">
        
        <div class="col-sm-2 side-menu " [ngStyle]="{'display':config.language=='ar'?'none':''}">
            <ul bootstrapTab #tab="bootstrap-tab" class="nav nav-tabs tabs-left" (showBSTab)="onShowTab($event)">
                <li class="active">
                    <a id="profileTab" [routerLink]="[]" fragment="profile" href="#profile" data-toggle="tab"><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {{'settings.tab.Profile' | translate}}</a>
                </li>
                <li>
                    <a id="preferencesTab" [routerLink]="[]" fragment="preferences" href="#preferences" data-toggle="tab"><i class="fa fa-sliders fa-fw" aria-hidden="true"></i> {{'settings.tab.Preferences' | translate}}</a>
                </li>
                <li [hidden]="!canViewUsers">
                    <a id="usersTab" [routerLink]="[]" fragment="users" href="#users" data-toggle="tab"><i class="fa fa-users fa-fw" aria-hidden="true"></i> {{'settings.tab.Users' | translate}}</a>
                </li>
                <li [hidden]="!canViewRoles">
                    <a id="rolesTab" [routerLink]="[]" fragment="roles" href="#roles" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Roles' | translate}}</a>
                </li>
                <li *ngIf="features[1]">
                    <a id="backupTab" [routerLink]="[]" fragment="backup" href="#backup" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Backup' | translate}}</a>
                </li>
                <li [hidden]="!isSuperAdmin" >
                    <a id="vatSettingTab" [routerLink]="[]" fragment="vatSetting" href="#vatSetting" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.VatEnable' | translate}}</a>
                </li>
                <li *ngIf="features[2]">
                    <a id="logoTab" [routerLink]="[]" fragment="logo" href="#logo" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Logo' | translate}}</a>
                </li>
                <li [hidden]="!canViewUpdates">
                    <a id="updatesTab" [routerLink]="[]" fragment="updates" href="#updates" data-toggle="tab"><i class="fa fa-refresh" aria-hidden="true"></i> {{'settings.tab.Updates' | translate}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="config.language=='en'" class="col-sm-2"></div>
        <div  class="col-sm-12 col-md-10 rtl"  >
            <div class="tab-content ">
        <div  *ngIf="features[2]" class="tab-pane" id="logo">
            <h4>{{'settings.header.Logo' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] class="content-container">
                <div class="file">
                    <img *ngIf="logoPath && !imgURL" [src]='logoPath' style="height:100px">
                    <img [src]="imgURL" height="200" *ngIf="imgURL" style="height:100px">
                    <label for="file-input">{{ "shared.chooseImage" | translate }}</label>
                    <input (change)="handleFileChange($event)" id="file-input" type="file">
                    <span *ngIf="uploadDone">تم رفع الشعار بنجاح</span>
                    <span *ngIf="deleteLogoDone">تم حذف الشعار بنجاح</span>
                </div>
                <button class="btn btn-success" (click)="changeLogo()" [disabled]="fileToUpload == null">
                    {{'settings.action.save' | translate}}
                </button>
                <button class="btn btn-danger" (click)="deleteLogo()" *ngIf="logoPath || fileToUpload">
                    {{'delete' | translate}}
                </button>
            </div>
        </div>
        <div class="tab-pane active" id="profile">
            <h4>{{'settings.header.UserProfile' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isProfileActivated" class="content-container">
                <user-info></user-info>
            </div>
        </div>
        <div class="tab-pane" id="preferences">
            <h4>{{'settings.header.UserPreferences' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="isPreferencesActivated" class="content-container">
                <user-preferences></user-preferences>
            </div>
        </div>

        <div class="tab-pane" id="users">
            <h4>{{'settings.header.UsersManagements' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="canViewUsers && isUsersActivated" class="content-container">
                <users-management></users-management>
            </div>
        </div>

        <div class="tab-pane" id="roles">
            <h4>{{'settings.header.RolesManagement' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="canViewRoles && isRolesActivated" class="content-container">
                <roles-management></roles-management>
            </div>
        </div>

        <div *ngIf="features[1]" class="tab-pane" id="backup">
            <h4>{{'settings.header.Backup' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] class="content-container">
                <backup-management></backup-management>
            </div>
        </div>
        <div class="tab-pane" id="vatSetting">
            <h4>{{'settings.header.VatEnable' | translate}}</h4>
          
            <div [@fadeInOut] class="content-container">
                <input type="checkbox" class="form-control" (change)="checkVat($event.target.checked)" [(ngModel)]="isVatEnable" />
                <div *ngIf="isVatEnable">
                    <input type="number" class="form-control" [(ngModel)]="vatAmount" />
                </div>

            </div>
          
            <!-- <h4>{{'settings.header.DiscountLimit' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] class="content-container">
                <input type="number" class="form-control" [(ngModel)]="discountLimit" />%
            </div>
            <button class="btn btn-success" (click)="changeSbillSetting()">
                {{'settings.action.save' | translate}}
            </button> -->
        </div>


        <div class="tab-pane" id="updates">
            <h4>{{'settings.tab.Updates' | translate}}</h4>
            <hr class="separator-hr" />
            <div [@fadeInOut] *ngIf="canViewUpdates" class="content-container">
                <div style="text-align:center">
                {{"preferences.Download updates through the plugin"|translate}}<br /> TrustUpdater
                    <br /> {{"preferences.Onthedesktop"|translate}}
                    <br /> {{"preferences.Currentversionnumber"|translate}} <br /> {{versionCode}}
                </div>
            </div>
        </div>

        </div>
        </div>
      
     
        
        <div class="col-sm-2 side-menu " [ngStyle]="{'display':config.language=='en'?'none':''}">
            <ul bootstrapTab #tab="bootstrap-tab" class="nav nav-tabs tabs-left" (showBSTab)="onShowTab($event)">
                <li class="active">
                    <a id="profileTab" [routerLink]="[]" fragment="profile" href="#profile" data-toggle="tab"><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {{'settings.tab.Profile' | translate}}</a>
                </li>
                <li>
                    <a id="preferencesTab" [routerLink]="[]" fragment="preferences" href="#preferences" data-toggle="tab"><i class="fa fa-sliders fa-fw" aria-hidden="true"></i> {{'settings.tab.Preferences' | translate}}</a>
                </li>
                <li [hidden]="!canViewUsers">
                    <a id="usersTab" [routerLink]="[]" fragment="users" href="#users" data-toggle="tab"><i class="fa fa-users fa-fw" aria-hidden="true"></i> {{'settings.tab.Users' | translate}}</a>
                </li>
                <li [hidden]="!canViewRoles">
                    <a id="rolesTab" [routerLink]="[]" fragment="roles" href="#roles" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Roles' | translate}}</a>
                </li>
                <li *ngIf="features[1]">
                    <a id="backupTab" [routerLink]="[]" fragment="backup" href="#backup" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Backup' | translate}}</a>
                </li>
                <li [hidden]="!isSuperAdmin" >
                    <a id="vatSettingTab" [routerLink]="[]" fragment="vatSetting" href="#vatSetting" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.VatEnable' | translate}}</a>
                </li>
                <li *ngIf="features[2]">
                    <a id="logoTab" [routerLink]="[]" fragment="logo" href="#logo" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Logo' | translate}}</a>
                </li>
                <li [hidden]="!canViewUpdates">
                    <a id="updatesTab" [routerLink]="[]" fragment="updates" href="#updates" data-toggle="tab"><i class="fa fa-refresh" aria-hidden="true"></i> {{'settings.tab.Updates' | translate}}</a>
                </li>
            </ul>
        </div>
        <div  *ngIf="config.language=='en'" class="col-sm-12 col-md-10  ltr" style="none">
            <div class="tab-content ">
                <div class="tab-pane active" id="profile">
                    <h4>{{'settings.header.UserProfile' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] *ngIf="isProfileActivated" class="content-container">
                        <user-info></user-info>
                    </div>
                </div>

                <div class="tab-pane" id="preferences">
                    <h4>{{'settings.header.UserPreferences' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] *ngIf="isPreferencesActivated" class="content-container">
                        <user-preferences></user-preferences>
                    </div>
                </div>

                <div class="tab-pane" id="users">
                    <h4>{{'settings.header.UsersManagements' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] *ngIf="canViewUsers && isUsersActivated" class="content-container">
                        <users-management></users-management>
                    </div>
                </div>

                <div class="tab-pane" id="roles">
                    <h4>{{'settings.header.RolesManagement' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] *ngIf="canViewRoles && isRolesActivated" class="content-container">
                        <roles-management></roles-management>
                    </div>
                </div>

                <div *ngIf="features[1]" class="tab-pane" id="backup">
                    <h4>{{'settings.header.Backup' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] class="content-container">
                        <backup-management></backup-management>
                    </div>
                </div>
                <div class="tab-pane" id="vatSetting">
                    <h4>{{'settings.header.VatEnable' | translate}}</h4>
                  
                    <div [@fadeInOut] class="content-container">
                        <input type="checkbox" class="form-control" (change)="checkVat($event.target.checked)" [(ngModel)]="isVatEnable" />
                        <div *ngIf="isVatEnable">
                            <input type="number" class="form-control" [(ngModel)]="vatAmount" />
                        </div>

                    </div>
                  
                    <!-- <h4>{{'settings.header.DiscountLimit' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] class="content-container">
                        <input type="number" class="form-control" [(ngModel)]="discountLimit" />%
                    </div>
                    <button class="btn btn-success" (click)="changeSbillSetting()">
                        {{'settings.action.save' | translate}}
                    </button> -->
                </div>

                <div *ngIf="features[2]" class="tab-pane" id="logo">
                    <h4>{{'settings.header.Logo' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] class="content-container">
                        <div class="file">
                            <img *ngIf="logoPath && !imgURL" [src]='logoPath' style="height:100px">
                            <img [src]="imgURL" height="200" *ngIf="imgURL" style="height:100px">
                            <label for="file-input">{{ "shared.chooseImage" | translate }}</label>
                            <input (change)="handleFileChange($event)" id="file-input" type="file">
                            <span *ngIf="uploadDone">تم رفع الشعار بنجاح</span>
                            <span *ngIf="deleteLogoDone">تم حذف الشعار بنجاح</span>
                        </div>
                        <button class="btn btn-success" (click)="changeLogo()" [disabled]="fileToUpload == null">
                            {{'settings.action.save' | translate}}
                        </button>
                        <button class="btn btn-danger" (click)="deleteLogo()" *ngIf="logoPath || fileToUpload">
                            {{'delete' | translate}}
                        </button>
                    </div>
                </div>

                <div class="tab-pane" id="updates">
                    <h4>{{'settings.tab.Updates' | translate}}</h4>
                    <hr class="separator-hr" />
                    <div [@fadeInOut] *ngIf="canViewUpdates" class="content-container">
                        <div style="text-align:center">
                        {{"preferences.Download updates through the plugin"|translate}}<br /> TrustUpdater
                            <br /> {{"preferences.Onthedesktop"|translate}}
                            <br /> {{"preferences.Currentversionnumber"|translate}} <br /> {{versionCode}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>