
.row:not(:last-child) {
    /*border-bottom: 1px solid #ccc;*/
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: inherit;
   
    margin-left: 7px !important; 
}
.separator-hr {
    margin: 0 5px;
    border-top-style: dashed;
}

.edit-separator-hr {
    margin: 10px 5px;
    border-top-style: dashed;
}


.last-separator-hr {
    margin-top: 5px;
}

.edit-last-separator-hr {
    margin-top: 15px;
}


.form-group {
    margin-top: 0;
    margin-bottom: 0;
}

input.form-control {
    border-left-width: 5px;
}

.roleErrorMessage {
    margin-left: 50px;
}

.permissionsColumn {
    margin-bottom: 20px;
    padding:0  26px
}

.permissionsRow {
    margin: 0 15px;
}


.password-well {
    margin-bottom: 0;
}
.flexy {
    display: flex;
    flex-wrap: wrap;
  }

.flexy .bottom-align-text {
    display: flex;
    align-items: flex-end;
  
  }
.flex-container{
  display: inline-flex
}

@media (min-width: 992px) {
    .user-enabled {
        margin-left: 40px;
    }
}
