.row:not(:last-child) {
    /*border-bottom: 1px solid #ccc;*/
}

.separator-hr {
    margin: 0 5px;
    border-top-style: dashed;
}
.permissionsColumn {
    margin-bottom: 20px;
}
.permission{
    text-align: center;
}
.file input {
    display: none;
  }


  .show-number {
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.2rem;
}
.tobacco-vat{
    padding-top: 30px;
}
.file{
    
    padding-top: 30px;

}
  .file label {
    border: 1px solid var(--user-theme);
    padding: 5px 10px;
    color: var(--user-theme-background);
    background: var(--user-theme);
    border-radius: 10px;
    box-shadow: 0px 0px 3px var(--user-theme-secoundary);
  }


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-size: 18px;
    color: var(--user-theme-secoundary);
}
.form-control-static{
    font-size: 18px;
    color: var(--user-theme);
}

.permissionsRow {
    margin: 0 15px;
}
.group-label{
direction: rtl;
}
.edit-separator-hr {
    margin: 10px 5px;
    border-top-style: dashed;
}

.last-separator-hr {
    margin-top: 5px;
}

.edit-last-separator-hr {
    margin-top: 15px;
}

.password-separator-hr {
    margin: 5px;
    border-style: none;
}


.form-group {
    /* margin-top: 0;
    margin-bottom: 0; */
    margin-right: 0%;
    margin-left: 0%;
}

input.form-control {
    border-left-width: 5px;
}


.password-well {
    margin-bottom: 0;
}

.hint-sm {
    display: block;
}

.checkbox.user-enabled {
    display: inline-block;
}

.unblock-user {
    margin-left: 34px;
}

@media (min-width: 992px) {
    .user-enabled {
        margin-left: 40px;
    }
}
