#header-icon {
    font-size: 1.2em;
}
.side-menu {
    min-width: 120px;
    position: relative;
    z-index: 9;
    margin-top: 6%;
    /*padding-top: 112px;
    background: #143367;
    height: 122%;
    position: fixed;
    z-index: 9999;
    top: 0;*/
}

.separator-hr {
    margin-top: 0;
    margin-bottom: 10px;
}

[hidden] {
    display: none;
}

.show-number {font-family: monospace;
    font-weight: bolder;
    font-size: 1.2rem;
}
