<form #f="ngForm" (ngSubmit)="save()">

  <div class="row">
    <div class="col-md-4 form-group has-feedback">
      <label for="receiptCode-{{uniqueId}}">
        {{ "shared.BillCode" | translate }}
      </label>
      <input type="text" name="receiptCode-{{uniqueId}}" attr.id="receiptCode-{{uniqueId}}" class="form-control"
        [(ngModel)]="pbillEdit.receiptCode" #receiptCode="ngModel" [disabled]="true" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <label for="branch-id">{{'shared.branch'|translate}}</label>
      <ng-select name="branch-id" [items]="branchList" bindLabel="name" bindValue="id" [multiple]="false"
        [(ngModel)]="pbillEdit.branchId" (change)="getCCByBranch()" required [disabled]="!isNewBill">
      </ng-select>
    </div>

    <div  class="col-md-4 form-group">
      <label for="cc-id">{{'shared.costCenter'|translate}}</label>
      <ng-select name="cc-id" [items]="costCenterList" bindLabel="nameAr" bindValue="id" [multiple]="false"
        [(ngModel)]="pbillEdit.costCenterId" (change)="selectCC()" required [disabled]="!isNewBill">
      </ng-select>
    </div>

    <div class="col-md-4 form-group">
      <label for="date-{{uniqueId}}">
        {{ "shared.date" | translate }}
      </label>
        <input type="text" name="date" attr.id="date-{{uniqueId}}" date="date" class="form-control"
          [(ngModel)]="pbillEdit.date" #name="ngModel" [disabled]="!isNewBill"
           required bsDatepicker  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group has-feedback">
      <label for="notes-{{uniqueId}}">
        {{ "shared.notes" | translate }}
      </label>
      <textarea name="notes-{{uniqueId}}" attr.id="notes-{{uniqueId}}" class="form-control"
        [(ngModel)]="pbillEdit.notes" #notes="ngModel" [disabled]="!isNewBill"></textarea>

    </div>
  </div>

  <div class="row">
    <table class="table table-to-print table-bordered table-striped">
      <tr>
        <th>#</th>
        <th>
          {{"shared.item" | translate}}
        </th>
        <th>
          {{"shared.itemUnit" | translate}}
        </th>
        <th>
          {{"shared.quantity" | translate}}
        </th>
      </tr>
      <tr *ngFor="let item of pbillEdit.itemsUnits;let i = index;">
        <td>
          {{i+1}}
        </td>

        <td>
          {{item.itemName}}
        </td>

        <td>
          {{item.itemUnitName}}
        </td>
        
        <td>
          <input name="quantity-{{i}}" attr.id="quantity-{{i}}" type="number" class="form-control" [(ngModel)]="item.quantity" 
          #quantity="ngModel" min="0" [disabled]="!isNewBill"/>
        </td>

      </tr>
    </table>
  </div>

  <div class="row pull-right">
    <div class="col-md-3">
      <button type="submit" class="btn btn-success" style="width: 100px;" [disabled]="!f.form.valid || !isNewBill">
        {{"shared.Save" | translate}}
      </button>
    </div>
  </div>

</form>