#header-icon {
    font-size: 1.2em;
}
.side-menu {
    z-index: 9;
    min-width: 120px;
    position: relative;
    margin-top: 6%;
}

.separator-hr {
    margin-top: 0;
    margin-bottom: 10px;
}

[hidden] {
    display: none;
}

.show-number {font-family: monospace;
    font-weight: bolder;
    font-size: 1.2rem;
}
