
<div class="row col-md-10">
 
  
  <form  #f="ngForm"  class="col-md-12 form-group">
    <div class="flexy">
    <div class="  form-group col-md-6">
    <div class="">
      <label  >
          <!--   itemCategoryName-->
          {{'shared.nameAr'|translate}}
      </label>
    </div>
    <div  >
      <input class="form-control "  required [(ngModel)]="table.nameAr" name="nameAr"
     />
     
    </div>
    </div>
    <div class=" form-group col-md-6">
      <div class="">
        <label  >
            <!--   itemCategoryName-->
            {{'shared.nameEn'|translate}}
        </label>
      </div>
      <div  >
        <input class="form-control "  [(ngModel)]="table.nameEn" name="nameEn"
     />
       
      </div>
      </div>
      <div  class="col-md-6 form-group">
        <label for="branch-id">{{'shared.branch'|translate}}</label>
        <ng-select name="branch-id" [items]="branchList" bindLabel="name" bindValue="id" [multiple]="false"
          [(ngModel)]="table.branchId" required>
        </ng-select>
      </div>
      <div class="col-md-6">
        <div class="">
          <label  >
              <!--   itemCategoryName-->
              {{'shared.capacity'|translate}}
          </label>
        </div>
        <div  >
          <input class="form-control " [min]="1" value="1" required type="number" [(ngModel)]="table.capacity" name="capacity"
         />
         
        </div>
        </div>
    </div>
      </form>
 

<div class="row">
<div class="col-md-12"></div>
</div>

    
<div class="row col-md-12 ">

    <button class="btn btn-primary form-group" [disabled]="!f.valid" (click)="createTable();bsModalRef.hide()">{{'shared.Save'|translate}}  </button>
  
      <button class="btn btn-danger  form-group "  (click)="close();bsModalRef.hide()">{{'shared.Cancel'|translate}}  </button>
     
</div>


<div class="row">
  <div class="col-md-12">
    <br/>
  </div>
</div>
</div>


<!--barcodelength.length<7?(width*changeunit)/2.5:(barcodelength.length<14?(width*changeunit)/(barcodelength.length/2.5):(width)*changeunit/(barcodelength.length/4))  barcodelength.length<5?(width/barcodelength.length):(barcodelength.length<15?(width)/(barcodelength.length/2):(width)/(barcodelength.length/4))-->