<div >
  <form

 
  class="form-horizontal"
  name="deliveryAppForm"
  #f="ngForm"
  
  novalidate

>
<div class="form-group" >
  <label class="control-label col-md-12" for="name">
      {{ "shared.name" | translate }}
  </label>
  <div  class="col-md-10" >
      <input class="form-control" name="name" [(ngModel)]="data.name" >
  </div>
</div>
  <!-- اسم الصنف بالعربية -->
  <div class="form-group" >
      <label class="control-label col-md-12" for="initialBalance">
          {{ "shared.initialBalance" | translate }}
      </label>
      <div  class="col-md-10" >
          <input class="form-control form-control" name="initialBalance" [(ngModel)]="data.initialBalance" >
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <hr
              [class.separator-hr]="!isEdit"
              [class.edit-separator-hr]="isEdit"
          />
      </div>
  </div>


  
  <div class="form-group">
      <div class="col-sm-7">
          <div class="pull-right">
            <button class="btn btn-danger" (click)="close()"> {{"shared.Close"|translate}} </button>
             
          <button
         [disabled]="!data.name"
         (click)="submit()"
          class="btn btn-primary"
         
      >
      {{isEdit?("shared.Edit"|translate):("shared.submit"|translate)}}
      </button>
           
          </div>
      </div>
  </div>
</form>


</div>